<Style>
    .topnav li{
        width: 20%;
        padding:0px 15px 0px 15px;
    }
    .top-btn{
        width:100%;
        height: 50px;
    }

</Style>
<div class="row">
  <ul class="topnav">
    <li><button type="button" class="top-btn">DT Instances</button></li>
    <li><button type="button" id="aggregates_form" class="top-btn">DT Aggregates</button></li>
    <li><button type="button" class="top-btn">Cloud Aggregates</button></li>
    <li><button type="button" class="top-btn">Communications</button></li>
    <li><button type="button" class="top-btn">Databases</button></li>
</ul>
</div>

<div class="row">
    <div class="ajax_form">

    </div>
</div>