<!--Top navigation bar-->
<div class="row">
  <ul class="topnav">
    <li><button type="button" id="clear">Clear</button></li>
    <li><button type="button" id="conceptual">Conceptual</button></li>
    <li><button type="button" id="logical">Logical</button></li>
    <li><button type="button" id="physical">Physical</button></li>
</ul>
</div>

<div class="row">
    <!-- Side navigation -->
    <div class="sidenav">
      <button type="button">Multi-repo multi-cloud</button>
      <button type="button">Storage reduction</button>
      <button type="button">Data quality</button>
      <button type="button">Storage redundancy</button>
    </div>

    <div class="col-md-3"></div>
    <div class="col-md-3" id="choices">
      <h2>Choices</h2>
      <ul>
        <li>start of list</li>
        <li id="ajax_result"></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h2>Parameters</h2>
    </div>
    <div class="col-md-3">
      <h2>Limitations</h2>
    </div>
</div>
  
