<!--Top navigation bar-->
<div class="row">
  <ul class="topnav">
    <li><button type="button" id="clear" class="top-btn">Clear</button></li>
    <li><button type="button" id="functions" class="top-btn">Functions</button></li>
    <li><button type="button" id="benefits" class="top-btn">Benefits</button></li>
    <li><button type="button" id="physical" class="top-btn">Physical</button></li>
</ul>
</div>

<div class="row">
    <!-- Side navigation -->
    <div class="container-fluid">
      <div class="sidenav col"></div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="content col-md-9" id="description">
          
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-3" id="col1">
        <ul class="content">
          
        </ul>
      </div>
      <div class="col-md-3" id="col2">
        <ul class="content">
          
        </ul>
      </div>
      <div class="col-md-3" id="col3">
        <ul class="content">
          
        </ul>
      </div>
    </div>
</div>
  
